  <!-- JS -->
<script defer src="/js/all_fontawesome.js"></script>
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<!-- <script src="/js/bootstrap.bundle.min.js"></script> -->
<script src="/js/d3.min.js"></script>

<!-- <script src="{{ site.baseurl }}/js/main.js"></script> -->
 <script src="{{ site.baseurl }}/js/{{ page.custom_js }}"></script> 
