<nav class="navbar navbar-expand-sm navbar-dark bg-primary sticky-top"> 
  <div class="navbar-brand">
    <img width="60" height="60" src='images/avatar-round.png' alt="">
    <a class="navbar-text text-white" href="{{ site.baseurl }}">cqkh42</a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse col-8" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"> 
      <li class="nav-item"> 
        <a class="nav-link text-white" href="{{ site.baseurl }}/projects">Projects</a> 
      </li> 
      <li class="nav-item"> 
        <a class="nav-link text-white" href="{{ site.baseurl }}/about">About Me</a> 
      </li> 
      <li class="nav-item"> 
        <a class="nav-link text-white" href="{{ site.baseurl }}/cv">CV</a> 
      </li>             
      <li class="nav-item"> 
        <a class="nav-link text-white" href="{{ site.baseurl }}/blog">Blog</a> 
      </li>             
      <li class="nav-item"> 
        <a class="nav-link text-white" href="https://github.com/cqkh42">Github</a> 
      </li> 
    </ul> 
  </div>
</nav> 