<!DOCTYPE html>
<html>
{% include head.html %}
<body>
{% include nav.html %}
  <div class="container-fluid">
  {{ content }}  
  
{% for section in site.data.data.sections %}
    {% capture thecycle %}{% cycle 'text_right.html', 'text-left.html' %}{% endcapture %}
    {% if thecycle == 'text_right.html' %}
        {% include {{thecycle}} content=section %}
    {% else %}
        {% include text-left.html content=section %}
    {% endif %}
{% endfor %}
  </div>
</body>
{% include footer.html %}
</html>
